// Dark variables
$text-color: #d8d9da; // $gray-4
$text-color-weak: #8e8e8e; // $gray-2
$graph-tooltip-bg: #141414; // $dark-1
$warning-bg: #333333; // $dark-4

$theme-name: dark;
$white: #fff;
$red: #d44a3a;

$branding-opacity: 0.5;
