// Light variables
$text-color: #52545c; // $gray-1
$text-color-weak: #767980; // $gray-2
$graph-tooltip-bg: #dde4ed; // $gray-5
$warning-bg: #e9edf2; // $gray-6

$theme-name: light;
$white: #fff;
$red: #d44939;

$branding-opacity: 0.33;
