<div class="status-heatmap-wrapper">
	<div class="status-heatmap-canvas-wrapper">

		<div class="datapoints-warning"  ng-if="ctrl.multipleValues || ctrl.noColorDefined">
			<span class="small" ng-if="ctrl.multipleValues" bs-tooltip="'{{ctrl.dataWarnings.multipleValues.tip}}'">{{ctrl.dataWarnings.multipleValues.title}}</span>
			<span class="small" ng-if="ctrl.noColorDefined" bs-tooltip="'{{ctrl.dataWarnings.noColorDefined.tip}}'">{{ctrl.dataWarnings.noColorDefined.title}}</span>
		</div>

		<div class="status-heatmap-panel" ng-dblclick="ctrl.zoomOut()"></div>
	</div>
	<div class="pagination" ng-if="ctrl.panel.usingPagination">
		Showing {{(ctrl.panel.currentPage*ctrl.panel.pageSize)+1}} to {{(ctrl.panel.currentPage*ctrl.panel.pageSize)+ctrl.panel.pageSize}} of {{ctrl.panel.totalElements}} entries
		<button class="btn btn-inverse" ng-disabled="ctrl.panel.currentPage == 0" ng-click="ctrl.panel.currentPage=ctrl.panel.currentPage-1; ctrl.render()">
			Previous
		</button>
		{{ctrl.panel.currentPage+1}}/{{ctrl.panel.numberOfPages}}
		<button class="btn btn-inverse" ng-disabled="ctrl.panel.currentPage >= ctrl.cardsData.targets.length/ctrl.panel.pageSize - 1 || ctrl.panel.numberOfPages == 0" ng-click="ctrl.panel.currentPage=ctrl.panel.currentPage+1; ctrl.render()">
			Next
		</button>
	</div>
	<div class="status-heatmap-legend-wrapper" ng-if="ctrl.panel.legend.show">
		<status-heatmap-legend></status-heatmap-legend>
	</div>
</div>
<div class="clearfix"></div>
