<div class="status-heatmap-wrapper">
	<div class="clearfix"></div>
	<br>
	<div class="gf-form" ng-if="ctrl.panel.usingPagination">
		<label class="gf-form-label width-9">Items per page</label>
		<input type="number" class="gf-form-input width-5" placeholder="2" data-placement="right"
		bs-tooltip="'Number of items to show per page.'" ng-model="ctrl.pageSize" ng-change="ctrl.changePaginationSize()"
		ng-model-onblur>
	</div>	

	<div class="status-heatmap-canvas-wrapper">
		<div class="datapoints-warning"  ng-if="ctrl.multipleValues || ctrl.noColorDefined">
			<span class="small" ng-if="ctrl.multipleValues" bs-tooltip="'{{ctrl.dataWarnings.multipleValues.tip}}'">{{ctrl.dataWarnings.multipleValues.title}}</span>
			<span class="small" ng-if="ctrl.noColorDefined" bs-tooltip="'{{ctrl.dataWarnings.noColorDefined.tip}}'">{{ctrl.dataWarnings.noColorDefined.title}}</span>
		</div>

		<div class="status-heatmap-panel" ng-dblclick="ctrl.zoomOut()"></div>
	</div>
	<div class="pagination" ng-if="ctrl.panel.usingPagination">
		Showing {{ctrl.firstPageElement}} to {{ctrl.lastPageElement}} of {{ctrl.totalElements}} entries
		<div class="pagination-buttons">
			<button class="btn btn-inverse" ng-disabled="ctrl.currentPage == 0" ng-click="ctrl.currentPage=ctrl.currentPage-1; ctrl.render()">
				Previous
			</button>
			{{ctrl.currentPage+1}}/{{ctrl.numberOfPages}}
			<button class="btn btn-inverse" ng-disabled="ctrl.currentPage >= ctrl.cardsData.targets.length/ctrl.pageSize - 1 || ctrl.numberOfPages == 0" ng-click="ctrl.currentPage=ctrl.currentPage+1; ctrl.render()">
				Next
			</button>
		</div>
	</div>
	<div class="status-heatmap-legend-wrapper" ng-if="ctrl.panel.legend.show">
		<status-heatmap-legend></status-heatmap-legend>
	</div>
</div>
<div class="clearfix"></div>
